body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}
.container {
  width: 300px;
  height: 530px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.calcInput {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  border: 1px solid #c7e3d1;
  background-color: #d3f6df;
}

.calcHistory {
  width: 100%;
  height: 20px;
  text-align: right;
  border: 1px solid #c7e3d1;
  background-color: #d3f6df;
  font-size: 14px;
}

.numPads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 60px);
  gap: 15px;
  margin-top: 15px;
}

button {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #2e598d;
  color: white;
  cursor: pointer;
}

button.numEqual {
  grid-row: span 2;
}
button.numZero {
  grid-column: span 2;
}
