* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(160deg, rgb(0, 170, 255), rgb(7, 0, 131));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 450px;
  background-color: white;
  padding: 20px 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.container h1 {
  border-bottom: 1px solid rgb(186, 186, 186);
  padding-bottom: 15px;
}

.container h3 {
  padding: 15px 0 10px;
}

#answers {
  display: grid;
  gap: 20px;
}

#answers button {
  padding: 10px;
  border: none;
  background-color: #d5d5d5;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

#answers button:enabled:hover {
  background-color: #1e38c7;
  color: white;
}

#answers .selected:disabled {
  background-color: rgb(255, 134, 134);
  color: black;
  border: 2px solid rgb(211, 94, 94);
}

#answers .correct:disabled {
  background-color: rgb(195, 246, 176);
  color: black;
  border: 2px solid rgb(85, 177, 75);
}

#next {
  padding: 8px 25px;
  background-color: #0e0067;
  color: white;
  font-size: 13px;
  margin: 20px auto 0;
  display: block;
  cursor: pointer;
  border: none;
}

#next:disabled {
  background-color: #d5d5d5;
}

#next:enabled:hover {
  background-color: #01319a;
}
