* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: black; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.btn {
  width: 300px;
  padding: 11px 0;
  --color: #1873db;

  border: rgb(from var(--color) r g b / 0.2) 2px solid;
  border-radius: 50px;
  color: var(--color);
  background: linear-gradient(
    color-mix(in srgb, var(--color), #fff 80%),
    color-mix(in srgb, var(--color), #fff 90%)
  );
  box-shadow:
    inset 0 0 3px 1px rgba(255, 255, 255, 1),
    0 5px 10px rgba(0, 0, 0, 0.1);

  &.warning {
    --color: #c55a21;
  }
  &.alert {
    --color: #d33f39;
  }
  &.success {
    --color: #0e7214;
  }
  &.secondary {
    --color: #6c717e;
  }
}
