:root {
  --netflix-red: #e50914;
  --netflix-red-dark: #b20710;
  --dark-bg: #0d0d0d;
  --card-bg: #1a1a1a;
  --text-primary: #f0f0f0;
  --text-secondary: #b3b3b3;
  --glass-bg: rgba(20, 20, 20, 0.85);
  --transition: all 0.3s ease;
  --gold: #e6c200;
  --button-gradient: linear-gradient(90deg, #e50914, #e62128, #e59014);
  --glass-overlay: rgba(20, 20, 20, 0.6);
}

::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: var(--transition);
}

body {
  background-color: var(--dark-bg);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Monsterrat", sans-serif;
  font-weight: 700;
}
.dashboard-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header ------------------ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--glass-bg);
  position: sticky;
  padding: 0 5%;
  top: 0;
  z-index: 100;
  transition: var(--transition);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* Header : Logo or Icon */
.header-left {
  display: flex;
  align-items: center;
  gap: 35px;
}

.icon {
  display: flex;
  align-items: center;
  color: var(--netflix-red);
  font-family: "Monsterrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  position: relative;
  box-shadow: 0 0 2;
  text-shadow: 0 0 10px rgba(229, 9, 20, 0.7);
}

.icon::after {
  content: "PREMIUM";
  font-weight: 700;
  letter-spacing: 1;
  position: absolute;
  color: var(--gold);
  font-size: 0.7rem;
  bottom: -6px;
  right: 0;
}

.icon i {
  margin-right: 4px;
}

/* Header : Mobile Btn */
.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  color: var(--text-primary);
  font-size: 1.8rem;
  cursor: pointer;
  transition: var(--transition);
}

.mobile-menu-button:hover {
  color: var(--netflix-red);
}

/* Headr : Nave Menu */
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.nav-menu a {
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: 500;
  transition: var(--transition);
  padding: 5px 0;
  position: relative;
}

.nav-menu a:hover,
.nav-menu a.active {
  color: var(--text-primary);
}

.nav-menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--netflix-red);
  transition: var(--transition);
}

.nav-menu a:hover::after,
.nav-menu a.active::after {
  width: 100%;
}

/* Header - User Menu */
.header-user {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header-user a {
  color: var(--text-primary);
  font-size: 1.3rem;
  cursor: pointer;
  transition: var(--transition);
  position: relative;
}

.user-search:hover,
.user-notif:hover {
  color: var(--netflix-red);
  transform: scale(1.1);
}

.user-notif::after {
  content: "3";
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: var(--netflix-red);
  color: white;
  font-size: 0.7rem;
  border-radius: 50%;
  width: 18px;
  size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile * {
  transition: var(--transition);
}

.user-profile:hover img {
  border-color: var(--netflix-red);
}
.user-profile:hover {
  transform: scale(1.05);
  color: var(--netflix-red);
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

/* Main Container ----------------- */
.main-container {
  display: flex;
}

.sidebar {
  /* display: none; */
  padding: 20px 0;
  background: rgba(18, 18, 18, 0.9);
  overflow-y: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  position: sticky;
  top: 80px;
  height: calc(100vh - 80px);
  z-index: 90;
  transition: var(--transition);
  min-width: 260px;
}

.sidebar-section {
  margin-bottom: 35px;
  padding: 0 20px;
}

.sidebar-section h3 {
  color: var(--text-secondary);
  font-size: 0.85rem;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 15px;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  transition: var(--transition);
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  padding: 12px 15px;
  font-size: 1rem;
  transition: var(--transition);
  border-radius: 6px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}

.sidebar-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: var(--transition);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(229, 9, 20, 0.1),
    transparent
  );
}

.sidebar-link:hover::before {
  left: 100%;
}

.sidebar-link i {
  margin-right: 15px;
  width: 24px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-secondary);
  transform: var(--transition);
}

.sidebar-link:hover,
.sidebar-link.active {
  color: var(--text-primary);
  background: rgba(255, 255, 255, 0.05);
}

.sidebar-link:hover i,
.sidebar-link.active i {
  color: var(--netflix-red);
}

/* Content  */
.content {
  flex: 1;
  padding: 30px 5%;
}

/* HERO Banner */
.hero-banner-container {
  display: flex;
  align-items: end;
  min-height: 450px;
  max-height: 650px;
  position: relative;
  height: 80vh;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
  border-radius: 12px;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.9)
    ),
    url("https://image.tmdb.org/t/p/original/dqK9Hag1054tghRQSqLSfrkvQnA.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  position: relative;
  padding: 30px;
  z-index: 2;
  width: max(90%, 60%);
  max-width: 800px;
  text-align: left;
}

.hero-title {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 1.05;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.hero-title::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100px;
  height: 4px;
  background: var(--netflix-red);
}

.hero-description {
  color: var(--text-primary);
  margin: 15px 0;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  line-height: 1.5;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.hero-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.btn {
  padding: clamp(12px, 2vw, 16px) clamp(24px, 3vw, 32px);
  border-radius: 50px;
  font-weight: 700;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: var(--transition);
  border: none;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  white-space: nowrap;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transform: translateX(-100%);
  transition: var(--transition);
}

.btn:hover::before {
  transform: translateX(100%);
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
}

.btn-play {
  background: var(--button-gradient);
  color: white;
  position: relative;
  background-size: 200%;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.btn-play:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.btn-info {
  background-color: transparent;
  color: var(--text-primary);
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* Content - Row Header*/
.content-row {
  margin-bottom: 30px;
}

.row-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row-title {
  font-size: 1.4rem;
  font-weight: 600;
}
.see-all {
  font-size: 0.9rem;
}
.see-all:hover {
  color: #fff;
}

/* Content-Grid */
.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.content-card {
  /* overflow: hidden; */
  border-radius: 14px;
  aspect-ratio: 2/3;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  position: relative;
}

.content-card:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.content-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent 65%, rgba(0, 0, 0, 0.9));
  padding: 20px 15px 10px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card-overlay:hover {
  opacity: 1;
}

.card-overlay * {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Footer ----------------- */
.footer {
  background: rgba(10, 10, 10, 0.95);
  padding: 40px 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 2;
  background: linear-gradient(
    to right,
    transparent,
    var(--netflix-red),
    transparent
  );
}

.social-links {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.social-links a:hover {
  color: var(--netflix-red);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin-bottom: 10px;
}

.footer-links a {
  font-size: 0.95rem;
  transition: var(--transition);
  padding: 15px 0;
  position: relative;
}

.footer-links a:hover {
  color: white;
  padding-left: 7px;
}

.footer-links a::before {
  content: ">";
  position: absolute;
  left: 0;
  top: 48%;
  transform: translateY(-50%);
  transition: var(--transition);
  opacity: 0;
}

.footer-links a:hover::before {
  opacity: 1;
  left: -5px;
  color: var(--netflix-red);
}

.service-code {
  display: inline-block;
  padding: 8px 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--text-secondary);
  font-size: 0.85rem;
  margin-bottom: 25px;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
}

.service-code:hover {
  border-color: var(--netflix-red);
  color: white;
}
.copyright {
  color: var(--text-secondary);
  font-size: 0.8rem;
  line-height: 1.6;
  font-style: italic;
}
