* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  background: rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  min-width: 400px;
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.08);
  background-color: fff;
  /* background-color: black; */
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-section {
  position: relative;
  padding: 20px 0;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.card-physical {
  aspect-ratio: 1.586/1;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(315deg, #185597, #052446);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: #ffffffdd;
  padding: 20px;

  & .card-number > :first-child {
    margin-bottom: 7px;
  }

  & .card-image {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    & > img {
      height: 30px;
    }
  }
}

.btn-actions {
  display: flex;
  gap: 15px;
}

.btn {
  --bg-color: 000;
  --color: fff;
  flex: 1;
  background-color: var(--bg-color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &.light {
    --color: 000;
    --bg-color: fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &:active {
    translate: 0 0.5px;
  }

  &:hover {
    transform: scale(1.01);
  }
}


.transactions{
  display: flex;
  flex-direction: column;
}

.transactions li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


.transactions li span h4{
  padding: 5px 0;
}

.transactions li span h5{
  font-weight: normal;
  color: rgb(140, 140, 140);
}
