* {
    padding: 0;
    margin: 0;
    box-sizing: "border-box";
}

.container{
    display: flex;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(160deg, rgb(0, 0, 98), rgb(170, 0, 255) );
    box-shadow: inset;
}


.calc{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border: none;
    border-radius: 40px;
    margin: 100px auto;
}