* {
  padding: 0;
  margin: 0;
  box-sizing: "border-box";
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(160deg, rgb(0, 0, 98), rgb(170, 0, 255));
}

.calc {
  max-width: 300px;
  background-color: #fff;
  padding: 30px 35px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.calc h2 {
  display: flex;
  align-items: center;
  font-size: 26px;
  color: rgb(15, 15, 80);
  margin-bottom: 25px;
}

.calc h2 img {
  width: 35px;
  margin-right: 10px;
}

#inputValue {
  width: 100%;
  padding: 6px 16px;
  font-size: 30px;
  border-radius: 0px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: right;
  background-color: rgb(227, 245, 235);
  font-weight: 500;
}

.numPads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 65px);
  gap: 15px;
}

.numPads button {
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
}

.numequals {
  grid-row: span 2;
}

.numzero {
  grid-column: span 2;
}
