* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #c02425, #f0cb35);
  padding: 40px;
  display: flex;
  justify-content: center;
}

.todo {
  width: 100%;
  max-width: 540px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 40px 30px;
}

.todo h2 {
  display: flex;
  color: #0a0a7e;
  align-items: center;
  margin: 0;
  padding: 0;
}

.todo h2 img {
  width: 30px;
  margin-left: 10px;
}

.todoInput {
  display: flex;
  background-color: #edeef0;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  border-radius: 30px;
  margin: 15px 0 20px;
}

.todoInput input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 10px;
}

.todoInput button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 16px 50px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s;
  background-color: #c02425;
}

.list li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  position: relative;
}

.list li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  top: 11px;
  left: 8px;
  background-image: url("img/unchecked.png");
  background-size: cover;
  background-position: center;
}

.list li.isChecked {
  text-decoration: line-through;
  color: #888;
}

.list li.isChecked::before {
  background-image: url("img/checked.png");
}
